.profile-box {
  margin: auto;
  width: 80%;
}
.header-content {
  margin: auto auto auto 0;
  h3 {
    margin-top: 0  ;
    font-size: 16px !important;
    color: #ffffff;
  }
  p {
    color: #ffffff;
    font-size: 14px !important;
  }
}
.background-primary {
  padding-bottom: 1px;
}
.wallet-card {
  margin-bottom: 12px;
  height: 5em;
}
.btn-fab{
  position: absolute;
    right: 5px;
    top: 5px;
    z-index: 11;
}
.close-btn{
  font-size: 1.5em;
  background: none;
  color: white;
}