.micro-btn{
    --padding-start:2px;
    --padding-end:2px;
}
.logout-btn{
    height: 1.6em;
    font-size: 16px;
    line-height: 1.1em;
    --padding-start: 6px;
    --padding-end:6px;
    position: relative;
    left: 35%;
    right: auto;
}
