.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}
h3 {
  font-size: 16px !important;
}
ion-content {
  --background: #f4f4f4;
}
ion-toolbar {
  --background: #f4f4f4;
  .profile-box {
    max-height: 4em;
  }
  h4 {
    margin: 1.4em 0 0 0;
  }
  ion-icon {
    font-size: 2em;
  }
}

.icon-button {
  font-size: 1em;
}
.header-md:after {
  background: none;
}

.promotional-card {
  img {
    width: 100%;
  }
  margin: 0;
  padding: 0;
  width: 100%;
  border-radius: 10px;
  // display: grid;
  // height: 11em;

  // --background: var(--ion-color-primary);
  // h5 {
  //   margin: auto;
  //   color: var(--ion-color-white);
  // }
}

.selfoperated-card {
  --background: #ffffff;
  // padding: 0 0.7em;
  box-shadow: 0px 1px 4px rgba(142, 142, 142, 0.1);
  ion-icon {
    font-size: 5em;
    color: var(--ion-color-primary);
  }
  .icon-row {
    padding-top: 1em;
  }
  h1 {
    font-size: 2.2em;
    margin: 10px 0 0 0;
    text-align: center;
    color: var(--ion-color-primary);
  }
  .btn-row {
    margin: 0 -10px;
    background: var(--ion-color-primary);
    ion-button {
      --background: none;
      width: 48%;
      --box-shadow: none;
    }
  }
}
.dropoff-card {
  --background: #ffffff;
  // padding: 0 0.7em;
  box-shadow: 0px 1px 4px rgba(142, 142, 142, 0.1);
  ion-icon {
    font-size: 6em;
    color: var(--ion-color-primary);
  }
  h1 {
    font-size: 3.1em;
    margin: 10px 0 0 0;
    text-align: center;
    color: var(--ion-color-primary);
  }
  .btn-row {
    margin: 0 -10px;
    background: var(--ion-color-primary);
    ion-button {
      --background: none;
      width: 48%;
      --box-shadow: none;
    }
  }

  .stars {
    text-align: center;
    font-size: 4em;
    ion-icons {
      font-size: 4em;
    }
    .active {
      color: var(--ion-color-primary);
      transition: 0.5s;
    }
  }
}

.feedback-card {
  --background: #ffffff;
  // padding: 0 0.7em;
  box-shadow: 0px 1px 4px rgba(142, 142, 142, 0.1);
  ion-icon {
    font-size: 3.5em;
    margin: 0 0.2em;
  }
  h1 {
    font-size: 3.1em;
    margin: 10px 0 0 0;
    text-align: center;
    color: var(--ion-color-primary);
  }
  .btn-row {
    margin: 0 -10px;
    background: var(--ion-color-primary);
    ion-button {
      --background: none;
      width: 48%;
      --box-shadow: none;
    }
  }
  .stars {
    text-align: center;
    padding: 1 0.5em 0;
    ion-icons {
      font-size: 1.2em;
    }
    .active {
      color: var(--ion-color-primary);
    }
  }
  .comment-input {
    border-bottom: 1px solid #642e58;
    box-sizing: border-box;
    margin: 0 1em 1em 1em;
  }
}

// Progress bar css

.status-bar {
  padding: 2em 0;
  margin-top: 2em;
  div {
    display: inline;
    font-size: 9px;
    margin: 3% 5px;
    text-align: center;
  }
}
.bullet > span {
  background: var(--ion-color-primary);
  margin: auto;
  border-radius: 50%;
  width: 1em;
}

.progress {
  padding-left: 3em;
  list-style-type: none !important;
}
.bullet {
  position: relative;
  // margin-bottom: 0;
  padding-bottom: 1em;
  display: inline;
}
.bullet-final {
  position: relative;
  // margin-bottom: 0;
  padding-bottom: 1em;
  display: inline;
}
.bullet-final:after {
  content: "";
  position: absolute;
  left: 40%;
  bottom: 3.5em;
  border: 8px solid #2b9f02;
  border-radius: 50%;
  display: inline;
}
.bullet:after {
  content: "";
  position: absolute;
  left: 40%;
  bottom: 3.5em;
  border: 8px solid #2b9f02;
  border-radius: 50%;
  display: inline;
}

.bullet:before {
  content: "";
  position: absolute;
  left: 40%;
  width: 9em;
  bottom: 4.2em;
  border-top: 3px dashed #2b9f02;
  display: inline;
}
.round-btn-bordered {
  border: 1px solid #2b9f02;
  text-align: center;
  border-radius: 10px;
  padding: 4px 12px;
  font-size: 0.8em;
  width: fit-content;
}
.name {
  font-size: 16px;
  margin-top: 1.7em;
}
.task-cards{
  --background: #ffffff;
  padding: 1em 0;
  margin: 0.5em 0 0 0;
  h3{
    text-align: center;
    margin: 0;
  }
}
.wallet-card{
  height: auto;
  padding: 1em 0.7em;
}
.retrySvg{
  height: 1.3em;
    margin: 2px 0 -3px 0;
}