
ion-item {
  --border-color: #ffffff;
  ion-icon {
    // font-size: 2em;
    margin: 0 15px 0 10px;
    //color: #000000;
  }
  ion-label {
    font-size: 1.2em;
  }
}
.list-item {
  margin-top: 1em;
}
