.partitioned {
  ion-input {
    display: inline-block;
    width: 18%;
    margin: 1em 3%;
    border: 1px solid #787878;
    box-sizing: border-box;
    border-radius: 5px;
    text-align: center;
    padding-right: 8px !important;
    --padding-top: 12px;
    --padding-bottom: 12px;
  }
 
}
