<ion-content>
  <ion-grid class="input-position">
    <ion-row>
      <ion-col>
        <h2>Enter your phone number</h2>
        <h5 class="color-gray thin-font ion-no-margin">We will send you 4 digit verfication code</h5>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size='2'>
        <ion-input class="num-input" value="+91"></ion-input>
      </ion-col>
      <ion-col size='10'>
        <ion-input type="tel" [(ngModel)]="phoneNumber" class="num-input" placeholder="9876543210" maxlength="10">
        </ion-input>
      </ion-col>
    </ion-row>

    <ion-button expand="block" color="primary" (click)="generateOTP()">Generate OTP</ion-button>

    <ion-item class="input-transperent-border">
      <ion-checkbox [(ngModel)]="checkedPrivacy" class="terms-checkbox"></ion-checkbox>
      <h5 class="color-gray thin-font">Signup with your accepting coin laundry terms & conditions, privacy policy and
        product info.</h5>
    </ion-item>

    <ion-list lines="none">
      <ion-item>
        <ion-label class="ion-text-center" (click)="showPrivacy()">Privacy Policy</ion-label>
        <ion-label class="ion-text-center" (click)="showLegal()">Legal</ion-label>
      </ion-item>
    </ion-list>

    <!-- <ion-item> -->
      <!-- <a href="#">Privacy Policy</a>
      <a href="#">Legal</a> -->
    <!-- </ion-item> -->
    <!-- <ion-list> 
      <div ion-item *ngFor="let device of devices">
        <h2>{{ device.name || 'Unnamed' }}</h2>
        <p>{{ device.id }}</p>
        <p>RSSI: {{ device.rssi }}</p>
        <ion-button  color="primary" float-right (click)="connect(device)">connect</ion-button>
            </div>  
     </ion-list>  -->
  </ion-grid>
</ion-content>