.margin-3-0 {
    margin: 3em 0 0 0;
}

.padding-3-0 {
    padding: 3em 0 0 0;
}

.periodicdata {
    font-size: 12px;
    color: #000;
}

label {
    color: #000;
}

.maticon {
    padding: 0;
}

mat-form-field * {
    font-size: 1.3em;
}

.machinebuttonimg {
    float: right;
}

.btn-light {
    width: 200px;
    text-align: left;
    border: 1px solid #000;
}

.example-form-field {
    width: 100%;
}

table {
    width: 100%;
    table-layout: fixed;
}

th,
td {
    overflow: hidden;
    width: auto;
    text-overflow: ellipsis;
    white-space: nowrap;
}

td:hover {
    overflow: visible;
    width: auto;
    white-space: nowrap;
    background-color: #fff;
}

.table-left-text {
    // text-align: center !important;
    padding-left: 1em;
}