table {
    width: 100%;
    table-layout: fixed;
}

th,
td {
    overflow: hidden;
    overflow-wrap: inherit;
    width: auto;
    text-overflow: ellipsis;
    white-space: nowrap;
}

table td:hover {
    overflow: visible;
    width: auto;
    // white-space: nowrap;
}

.success {
    color: green;
}

.danger {
    color: red;
}